* {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3px;
}

.ant-input,
.ant-select-selector,
.ant-input-number,
.ant-btn {
  height: 36px !important;
  border-radius: 8px !important;
}

.ant-input,
.ant-select-selector,
.ant-input-number {
  width: 100%;
}

.ant-input,
.ant-select-selector,
.ant-input-number {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .ant-input,
  .ant-select-selector,
  .ant-input-number,
  .ant-btn {
    height: 32px !important;
  }

  .ant-divider-inner-text {
    font-size: 14px;
  }

  .ant-form-item-label > label,
  .ant-btn,
  .ant-table-cell,
  .ant-select-selection-placeholder,
  input::placeholder {
    font-size: 12px;
  }
}
